@{
    ViewBag.Title = "About";
    Layout = "~/Views/_Layout.cshtml";
}

<main role="main" class="container">
    <ul class="breadcrumb bg-transparent pl-0">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item active">About</li>
    </ul>

    <div class="row">
        <div class="col-12">
            <h1>About</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, blanditiis!</p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A doloribus esse et ex, exercitationem, molestias odio optio quidem reiciendis rem sequi
                temporibus totam, vero?
            </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A at aut dolores excepturi perspiciatis voluptatibus!</p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium consectetur consequuntur corporis culpa cum debitis delectus deserunt distinctio
                dolor dolore doloremque error esse eveniet ipsum laborum magnam minima nam, officia officiis pariatur possimus, praesentium provident qui rem
                repudiandae sapiente sit velit! Doloremque, earum rem!
            </p>
        </div>
    </div>
</main>

